@font-face {
    font-family: "Glacial Indifference";
    src: url("./glacial-indifference/GlacialIndifference-Regular.otf");

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Glacial Indifference";
    display: flex;
    padding: 0;
    background-color: #fff0ff;
    background: linear-gradient(45deg, #ffd7ff, #dbabdb, #b880b7);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    gap: 34px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}


button {
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #9022cf;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
    max-width: 120px;
}

button:hover {
    background-color: #731ca5;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: fit-content;
    background-color: #FFF;

    padding: 20px 35px;

    border-radius: 6px;
    box-shadow: 0px 4px 7px 2px #00000017;
}