@font-face {
    font-family: "Glacial Indifference";
    src: url("./glacial-indifference/GlacialIndifference-Regular.otf");

}

body{
    font-family: "Glacial Indifference";
    display: flex;
    margin: 15px;
    background-color: #fff0ff;
}

#atividade1{
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 40px;
    margin: 50px;
    border-radius: 30px;
    background-color:  #ffd7ff;
    color: black;
    width: 400px;
    align-self: center;
}

#atividade2{
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    padding: 40px;
    margin: 50px;
    background-color: #dbabdb; 
    border-radius: 30px;
    width: 400px;
    height: auto;
}

#atividade3{
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-items: center;
    padding: 40px;
    margin: 50px;
    background-color: #b880b7;
    border-radius: 30px;
    width: 400px;
    height: 100px;

}

